.login-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: rgb(33, 53, 104);
}

.input-field{
   display: flex;
   align-items: center;
   margin: 6px;
}

.icon{
   height: 24px;
   width: 24px;
   margin-right: 8px;
   color: white;
}

.label-color{
   color:rgba(255,255,255,0.75) !important;
}